body {
  background-color: rgb(37, 141, 6);
  font-family: "Courier New", Courier, monospace;
}

.startseite {
  display: grid;
  grid-template-columns: 30px auto 30px;
  grid-template-rows: auto;
}

.background {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  margin: 1px;
  position: relative;
  border-radius: 50%;
}

#construction {
  height: auto;
  width: 600px;
  background-color: none;
  margin: 30px auto;
  padding: 10px;
  text-align: center;
  align-items: center;
  justify-items: center;
  align-self: center;
}

.box {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.background:hover {
  transform: scale(1.1);
  cursor: url("/bilder/paintbrush.cur"), pointer;
}

#heart {
  cursor: pointer;
}

#heart:hover .tooltip {
  visibility: visible;
}

#toDo {
  cursor: pointer;
}

#toDo:hover .tooltip {
  visibility: visible;
}

#phone {
  cursor: pointer;
}

#phone:hover .tooltip {
  visibility: visible;
}

.tooltip {
  visibility: hidden;
  width: auto;
  background-color: midnightblue;
  color: bisque;
  position: absolute;
  top: -5px;
  right: 105%;
  border-radius: 6px;
}

#toDoInput {
  height: 30px;
  width: 250px;
  border-radius: 20px;
  font-family: "Courier New", Courier, monospace;
}

.translate1 {
  transform: translate(50px, 50px);
}

.translate2 {
  transform: translate(-150px, 150px);
}

.translate3 {
  transform: translate(80px, -150px);
}

.translate4 {
  transform: translate(-150px, -150px);
}

.pointer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  pointer-events: none;
  box-sizing: border-box;
  transition: 0.2s;
  color: rgb(221, 2, 122);
  font-weight: bold;
}
.pointer1 {
  transition: 0.05s;
  font-size: 5px;
}
.pointer2 {
  transition: 0.1s;
  font-size: 10px;
}
.pointer3 {
  transition: 0.15s;
  font-size: 15px;
}
.pointer4 {
  transition: 0.2s;
  font-size: 20px;
}
.pointer5 {
  transition: 0.25s;
  font-size: 25px;
}
.pointer6 {
  transition: 0.3s;
  font-size: 30px;
}
.pointer7 {
  transition: 0.35s;
  font-size: 35px;
}
.pointer8 {
  transition: 0.4s;
  font-size: 50px;
}
.pointer9 {
  transition: 0.45s;
  font-size: 45px;
}
.pointer10 {
  transition: 0.5s;
  font-size: 55px;
}

.bold {
  font-weight: bold;
}

.justify {
  text-align: justify;
}

.references {
  font-size: 8px;
}

/* menu bar */
.menu {
  background-color: black;
  text-align: center;
  width: 100%;
  position: fixed;
  top: 0;
  opacity: 0.8;
  height: 50px;
  margin: 0;
  padding: 0;
  left: 0;
}

.menu ul {
  list-style: none;
  margin-top: 4px;
}

.menu ul li {
  background: #262626;
  width: 200px;
  border: 1px solid #000;
  line-height: 30px;
  height: 30px;
  text-align: center;
  float: left;
  /*position: relative;*/
  color: #fff;
  margin: 0px;
  padding: 5px;
}

.menu ul li ul {
  margin-left: -46px;
  margin-top: 5px;
}

.menu ul li:hover {
  background: crimson;
}

.menu ul li ul li {
  display: none;
}

.menu ul li a {
  text-decoration: none;
  color: #fff;
}

.menu ul li:hover ul li {
  display: block;
  /*background: #f87;*/
}

#nav {
  display: none;
  color: #fff;
  padding: 9px;
}

/*Anpassen auf kleinere Bildschirme*/

@media only screen and (max-width: 1120px) {
  #nav {
    display: block;
    cursor: pointer;
  }
  .menu ul {
    position: absolute;
    background: #000000;
    opacity: 1;
    left: -100%;
    text-align: center;
    width: 100%;
    transition: all 0.5s;
    margin-left: -50px;
    margin-top: 0px;
    padding-top: 30px;
  }
  .menu ul li {
    background: #000000;
    display: block;
    border: none;
    width: 100%;
    left: 0;
  }
  .menu ul li:hover ul li {
    background: #000000;
    display: inline-block;
    width: 100%;
    text-align: center;
    /*left: 0px;*/
    margin-top: 0px;
    margin-left: 500px;
  }
  #check:checked ~ ul {
    left: 0;
  }
}

@media only screen and (max-width: 650px) {
  .rahmen {
    max-width: 95%;
  }
  .rahmen2 {
    max-width: 95%;
  }
  .ergebnis {
    max-width: 95%;
  }
}

#platzhalter {
  height: 5000px;
  width: 300px;
  background-color: darkmagenta;
  margin-top: 50px;
}

select {
  width: 100px;
  height: 25px;
  border: none;
  margin: 16px auto;
  display: block;
}

.horizontal {
  float: left;
}

button {
  margin: 16px auto;
  width: auto;
  display: block;
  padding: 3px 15px;
}

#tag {
  width: 50px;
}

#ctag {
  width: 50px;
}

.mitte {
  text-align: center;
  align-self: center;
}

.cmitte {
  margin: auto;
  display: block;
  width: 320px;
  height: 80px;
}

.bild {
  margin: auto;
  display: block;
  width: 100%;
}

#mittelteil {
  width: 100%;
  height: 300px;
}

.rahmen {
  height: 400px;
  width: 600px;
  background-color: white;
  margin: 30px auto;
  padding: 10px;
  text-align: center;
  align-items: center;
  justify-items: center;
}

.quiz {
  display: grid;
  grid-template-rows: 33% 33% 33%;
  grid-template-columns: 50% 50%;
}

.header {
  height: 90%;
  width: 95%;
  margin: auto;
  background-color: red;
  grid-column: 1/3;
}

.header h2 {
  padding: 30px;
}

.option {
  height: 90%;
  width: 90%;
  background-color: lightseagreen;
  margin: auto;
}

.option > img {
  max-width: 100%;
  max-height: 100%;
}

.option:hover {
  background-color: mediumaquamarine;
  cursor: pointer;
}

.ergebnis {
  width: 600px;
  height: auto;
  margin: 30px auto;
  background-color: white;
  padding: 10px;
  text-align: center;
}

.ergebnis > img {
  max-width: 100%;
  max-height: 100%;
}

.auswahllinks {
  height: 600px;
  width: 200px;
  background-color: white;
  margin: 0px;
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
  grid-template-columns: 100%;
  padding: 10px;
  text-align: center;
  align-items: center;
  justify-items: center;
  float: left;
}

/*.auswahlrechts {
    height: 600px;
    width: 200px;
    background-color: white;
    margin: 0px;
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-columns: 100%;
    padding: 10px;
    text-align: center;
    align-items: center;
    justify-items: center;
    float: right;
}*/

/*die einzelnen Sternzeichen*/

#aquarius {
  height: auto;
  width: 80%;
  background-color: white;
  margin: auto;
  padding: 16px;
  display: none;
}

#pisces {
  height: auto;
  width: 80%;
  background-color: white;
  margin: auto;
  display: none;
  padding: 16px;
}

#aries {
  height: auto;
  width: 80%;
  background-color: white;
  margin: auto;
  display: none;
  padding: 16px;
}

#taurus {
  height: auto;
  width: 80%;
  background-color: white;
  margin: auto;
  display: none;
  padding: 16px;
}

#gemini {
  height: auto;
  width: 80%;
  background-color: white;
  margin: auto;
  display: none;
  padding: 16px;
}

#cancer {
  height: auto;
  width: 80%;
  background-color: white;
  margin: auto;
  display: none;
  padding: 16px;
}

#leo {
  height: auto;
  width: 80%;
  background-color: white;
  margin: auto;
  display: none;
  padding: 16px;
}

#virgo {
  height: auto;
  width: 80%;
  background-color: white;
  margin: auto;
  display: none;
  padding: 16px;
}

#libra {
  height: auto;
  width: 80%;
  background-color: white;
  margin: auto;
  display: none;
  padding: 16px;
}

#scorpio {
  height: auto;
  width: 80%;
  background-color: white;
  margin: auto;
  display: none;
  padding: 16px;
}

#saggitarius {
  height: auto;
  width: 80%;
  background-color: white;
  margin: auto;
  display: none;
  padding: 16px;
}

#capricorn {
  height: auto;
  width: 80%;
  background-color: white;
  margin: auto;
  display: none;
  padding: 16px;
}

#sandwich {
  height: auto;
  width: 80%;
  background-color: white;
  margin: auto;
  display: none;
  padding: 16px;
}

/*die chinesischen Sternzeichen*/

#rat {
  height: auto;
  width: 80%;
  background-color: white;
  margin: auto;
  display: none;
  padding: 16px;
}

#ox {
  height: auto;
  width: 80%;
  background-color: white;
  margin: auto;
  display: none;
  padding: 16px;
}

#tiger {
  height: auto;
  width: 80%;
  background-color: white;
  margin: auto;
  display: none;
  padding: 16px;
}

#rabbit {
  height: auto;
  width: 80%;
  background-color: white;
  margin: auto;
  display: none;
  padding: 16px;
}

#dragon {
  height: auto;
  width: 80%;
  background-color: white;
  margin: auto;
  display: none;
  padding: 16px;
}

#snake {
  height: auto;
  width: 80%;
  background-color: white;
  margin: auto;
  display: none;
  padding: 16px;
}

#horse {
  height: auto;
  width: 80%;
  background-color: white;
  margin: auto;
  display: none;
  padding: 16px;
}

#sheep {
  height: auto;
  width: 80%;
  background-color: white;
  margin: auto;
  display: none;
  padding: 16px;
}

#monkey {
  height: auto;
  width: 80%;
  background-color: white;
  margin: auto;
  display: none;
  padding: 16px;
}

#rooster {
  height: auto;
  width: 80%;
  background-color: white;
  margin: auto;
  display: none;
  padding: 16px;
}

#dog {
  height: auto;
  width: 80%;
  background-color: white;
  margin: auto;
  display: none;
  padding: 16px;
}

#pig {
  height: auto;
  width: 80%;
  background-color: white;
  margin: auto;
  display: none;
  padding: 16px;
}

/*snacks*/
#frage2 {
  display: none;
}

#frage3 {
  display: none;
}

#frage4 {
  display: none;
}

#frage5 {
  display: none;
}

#ergebnis1 {
  display: none;
}

#ergebnis2 {
  display: none;
}

#ergebnis3 {
  display: none;
}

#ergebnis4 {
  display: none;
}

/*generator*/
#meme {
  background-image: none;
  height: 400px;
  width: 600px;
  background-color: white;
  margin: 30px auto;
  /*display: grid;
    grid-template-rows: 33% 33% 33%;
    grid-template-columns: 50% 50%;*/
  padding: 10px;
  text-align: center;
  align-items: center;
  justify-items: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/*Nonogram*/

#grid {
  background-color: blanchedalmond;
  display: grid;
  float: left;
  justify-self: left;
  align-self: start;
  border: 1px black solid;
}

.cell {
  height: 30px;
  width: 30px;
  /*background-color: blanchedalmond;*/
  border: 1px salmon solid;
}

.row {
  display: flex;
  flex-direction: row;
  min-width: 30px;
  min-height: 30px;
}

#topgrid {
  display: flex;
  flex-direction: row;
  grid-column: 2/3;
  justify-self: left;
  align-self: flex-end;
}

.rowtop {
  display: flex;
  flex-direction: column;
  min-width: 30px;
  min-height: 30px;
}

#leftgrid {
  float: left;
  grid-row: 2/3;
  justify-self: right;
  align-self: start;
}

.rowleft {
  display: flex;
  min-width: 30px;
  min-height: 30px;
}

.nonowrapper {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
}

/*Sudoku*/

#board {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: 250px;
  margin: auto;
  margin-top: 20px;
  font-size: 20px;
}

#number-container {
  display: flex;
  flex-direction: row;
}

#number-container p {
  height: 25px;
  width: 25px;
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  margin: auto;
  margin-top: 20px;
  font-size: 20px;
  cursor: pointer;
}

.tile {
  border: 1px solid black;
  width: 25px;
  height: 25px;
  text-align: center;
  margin: 0px;
}

p.selected {
  background-color: pink;
}

.rightBorder {
  border-right: 3px solid black;
}

.bottomBorder {
  border-bottom: 3px solid black;
}

.hidden {
  display: none;
}

.label {
  border: 2px solid black;
  padding: 4px;
  cursor: pointer;
}

.diff {
  padding: 10px;
}

/*Personality Test*/

.rahmen2 {
  height: auto;
  width: 600px;
  background-color: white;
  margin: 30px auto;
  padding: 10px;
  text-align: center;
  align-items: center;
  justify-items: center;
}

.rahmen2 form {
  margin-bottom: 20px;
  border-bottom: 3px solid black;
  padding-bottom: 20px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 20px;
  background: red;
  border-radius: 12px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: black;
  border-radius: 12px;
}

/*about me*/

.skill {
  background: #fff;
  padding: 4px;
  box-sizing: border-box;
  border: 1px solid #5c0000;
  border-radius: 2px;
}

.skillLevel {
  background: #5c0000;
  width: 100%;
  height: 10px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.strich {
  width: 100%;
  height: 2px;
  background-color: grey;
  margin-top: 20px;
  margin-bottom: 20px;
}

.fotoshow {
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 50% 50%;
  grid-gap: 5px;
}

.foto img {
  height: 300px;
  width: auto;
  object-fit: cover;
}

.foto:hover {
  display: block;
  transform: scale(2, 2);
  transition-duration: 0.2s;
}

.topLeft {
  transform-origin: top left;
}

.topRight {
  transform-origin: top right;
}

.bottomLeft {
  transform-origin: bottom left;
}

.bottomRight {
  transform-origin: bottom right;
}

.topMiddle {
  transform-origin: top center;
}

.bottomMiddle {
  transform-origin: bottom center;
}

/*Comment Section*/

textarea {
  width: 100%;
  height: 100px;
  margin-top: 20px;
}

.comments {
  display: grid;
  grid-template-columns: 25% 75%;
  border-bottom: solid black 3px;
  gap: 5px;
}

.commentName {
  font-weight: bold;
}
.commentTime {
}

.commentText {
  grid-column: span 2;
}

/*Favorites*/

.series {
  display: grid;
  grid-template-columns: 45% 55%;
}

.gridRight {
  justify-self: end;
}

.gridLeft {
  justify-self: start;
}

.music {
  display: grid;
  grid-template-columns: 15% 35% 15% 35%;
  align-content: center;
}

.music p {
  align-self: center;
}

.fotoshow2 {
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 5px;
}

.carousel {
  overflow: hidden;
  max-width: 100%;
  position: relative;
  display: none;
}
.block {
  display: block;
}

.carouselActions {
  display: flex;
  width: 100%;
  justify-content: space-between;
  /*position: absolute;
  top: 50%;
  transform: translateY(-50%);*/
}

.carouselActions button {
  border-radius: 100%;
  border: 0;
  font-weight: bold;
  cursor: pointer;
  width: 40px;
  height: 40px;
}
